@model Student

<div class="col-8 card rounded shadow pt-3">
    <table class="table table-sm">
        <thead>
            <tr>           
                <th>Ticket Issue</th>
                <th>Created</th>  
                <th>Active</th>       
                <th>Actions</th>  
            </tr>
        </thead>
        <tbody>
            @foreach(var t in Model.Tickets) {
                <tr>              
                    <td>@t.Issue</td>
                    <td>@t.CreatedOn</td>  
                    <td>@t.Active</td>
                    <td>
                       <!-- TBC - add an anchor tag styled as a small danger button that navigates  -->
                       <!-- to the TicketDelete action. Remember to pass the asp-route-id parameter -->
                       <a asp-action="TicketDelete" asp-route-id="@t.Id" class="btn btn secondary"></a>
                    </td>             
                </tr>   
            }
        </tbody>
    </table> cfgty7
</div>